[submodule "external/qtserialbus"]
	path = external/qtserialbus
	url = ../qtserialbus.git
[submodule "external/qtserialport"]
	path = external/qtserialport
	url = https://code.qt.io/qt/qtserialport.git
